<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./asset/tailwind.min.css">
  <link rel="shortcut icon" href="favicon.ico" type="x-icon">
  <script src="asset/vue.js"></script>
  <script src="./asset/icon/iconfont.js"></script>
  <script src="./asset/axios.js"></script>
  <title>文章</title>
</head>

<body class="bg-gray-100 p-8">
  <div id="app"
    class="flex flex-col rounded-3xl hover:shadow-xl border-2 border-white overflow-hidden bg-white cursor-default comment-box">
    <div class="bg-black text-white text-3xl font-bold text-center flex justify-between pl-8 pr-8">
      <a class="hover:text-yellow-200" href="index.html">&lt;首页</a>
      <p>文章</p>
      <a class="hover:text-yellow-200" href="login.html">登录&gt;</a>
    </div>
    <div ref="box" class="flex flex-row overflow-auto">
      <!-- S左边 -->
      <div @scroll="loadComments($event)" class="flex flex-col w-80 bg-gray-300 p-4 overflow-scroll gap-4">
        <!-- S FOR -->
        <div class="bg-white rounded-2xl hover:shadow-xl" v-for="(cm,index) in comments" :key="cm.commentId"
          @click='showDetail(cm.commentId)' @mouseenter="hover(index)" @mouseleave="unhover(index)">
          <div class="p-2 text-gray-800 font-bold text-xl flex justify-between items-center">
            <p>{{cm.title}}</p>
            <div class="w-6 h-6 bg-gray-100 rounded-full text-white font-blod text-center hover:shadow-sm"
              v-show="cm.hover" @click.stop="removeCm(index)">X</div>
          </div>
          <div class="p-2 text-gray-500">
            <p>
              {{cm.content|commentInfo}}
            </p>
          </div>
          <div class="p-2 text-yellow-400 text-sm">
            <p>{{cm.createTime}}</p>
          </div>
        </div>
        <!-- E FOR -->
        <p v-show="isLoading" class="text-gray-400 font-bold text-center">加载文章中请稍候。。。。。</p>
      </div>
      <!-- E左边 -->
      <!-- S右边 -->
      <div class="flex-1 bg-gray-400 p-8">
        <div class="bg-gray-100 w-full h-full rounded-2xl hover:shadow-xl p-8">
          <div class="text-center">
            <p class="text-yellow-400 text-3xl">{{selComment.title}}</p>
            <hr>
          </div>
          <!-- 详情部分 -->
          <div class="mt-4 pl-16 pr-16 flex">
            <!-- S 左侧 -->
            <div class="flex flex-col gap-2 w-24 mr-8">
              <div class="w-24 rounded-full border-8 border-white overflow-hidden">
                <img :src="selComment.src!==''?selComment.src:'./asset/image/doggie.jpg'">
              </div>
              <div class="text-center">
                <p class="text-gray-900 text-xl font-bold">{{selComment.name}}</p>
                <p class="text-gray-400">{{selComment.createTime}}</p>
              </div>
            </div>
            <!-- E 左侧 -->
            <!-- S 右侧 -->
            <div class="flex-auto comment-right-box mt-8">
              <div>
                <p>
                  {{selComment.content}}
                </p>
              </div>
            </div>
            <!-- E 右侧 -->
          </div>
        </div>
      </div>
      <!-- E右边 -->
    </div>
    <!-- S FAB -->
    <div
      class="fixed bottom-20 right-20 w-16 h-16 bg-blue-300 rounded-full border-4 border-white shadow-2xl p-2 cursor-pointer"
      @click="show()">
      <svg class="icon w-10 h-10" aria-hidden="true">
        <use xlink:href="#icon-js"></use>
      </svg>
    </div>
    <!-- E FAB -->
    <!-- S PUT -->
    <div class="fixed w-full h-full top-0 left-0 put-box" v-show="visiable" @click="unshow()">
      <div class="rounded-2xl put-form relative bg-gray-200 p-8" @click.stop="">
        <form>
          <label for="title">标题:</label><br>
          <input class="w-full rounded-xl p-2" type="text" name="title" id="title" v-model="title"><br>
          <label for="comment">文章内容:</label><br>
          <textarea class="resize-none w-full rounded-xl p-2" name="comment" id="comment" cols="auto" rows="8"
            v-model="content"></textarea>
          <button type="button"
            class="bg-blue-200 rounded-xl border-2 border-white p-1 shadow-sm block m-auto w-40 hover:shadow-md"
            @click="addCm()">发表文章</button>
        </form>
      </div>
    </div>
    <!-- E PUT -->
    <!-- S warn -->
    <transition>
      <div
        class="fixed top-4 h-12 tips rounded-3xl border-2 border-white shadow-lg text-center align-text-top text-white font-bold text-2xl"
        v-show="showTips" :style="tipColor">
        <p>{{tips}}</p>
      </div>
    </transition>
    <!-- E warn -->
  </div>
</body>
<script>
  let vm = new Vue({
    el: "#app",
    data: {
      title: '',
      content: '',
      visiable: false,
      selComment: {
        name: 'unknown',
        src: '',
        title: '请选择一篇文章开始阅读吧~ :D',
        content: '这里还没有内容喔~',
        createTime: new Date()
      },
      comments: [],
      canLoad: true,
      handleScoll: true,
      isLoading: true,
      showTips: false,
      tips: '',
      isDanger: false
    },
    computed: {
      tipColor() {
        return this.isDanger ? 'background-color:rgb(247, 42, 42)' : 'background-color:rgb(11, 138, 249)'
      }
    },
    filters: {
      commentInfo(value) {
        if (value.length > 30) {
          return value.slice(0, 30) + '...'
        }
        return value
      }
    },
    methods: {
      showDetail(id) {
        for (let i = 0; i < this.comments.length; i++) {
          if (this.comments[i].commentId == id) {
            this.selComment.name = this.comments[i].name
            this.selComment.title = this.comments[i].title
            this.selComment.content = this.comments[i].content
            this.selComment.createTime = this.comments[i].createTime
            axios.get("http://127.0.0.1:8080/user/pic/" + this.selComment.name).then(res => {
              console.log(res);
              this.selComment.src = res.data.data
            }).catch(err => {
              this.showServerErr(err)
            })
          }
        }
      },
      show() {
        this.visiable = true
      },
      unshow() {
        this.visiable = false
      },
      hover(index) {
        this.comments[index].hover = true
      },
      unhover(index) {
        this.comments[index].hover = false
      },
      removeCm(index) {
        let result = confirm("你真的要删除这篇文章吗？")
        if (!result) return;
        const token = localStorage.getItem("token")
        if (token === null) {
          this.showTip('用户未登录', true, () => location.href = "/login.html")
          return
        }
        axios.delete(`http://127.0.0.1:8080/comment/${this.comments[index].commentId}/${token}`).then(res => {
          console.log(res);
          if (!this.checkToken(res.data.code)) return
          switch (res.data.code) {
            case '3010':
              this.showTip('删除成功', false, () => location.reload())
              break
            case '3011':
              this.showTip('权限不够', true)
              break
            default:
              this.showTip('服务器出小差', true)
          }
        }).catch(err => {
          this.showServerErr(err)
        })
      },
      loadCm() {
        axios.get(`http://127.0.0.1:8080/comment/${this.comments.length}`).then(res => {
          this.showTip('获取成功', false)
          if (res.data.data.length < 5) {
            this.canLoad = false;
            this.isLoading = false;
          }
          res.data.data.forEach(data => {
            const date = new Date(data.createdTime);
            const createTime = `${date.getFullYear()}年${(date.getMonth() + 1)}月${date.getDate()}日  ${date.getHours()}:${date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes()}:${date.getSeconds() < 10 ? '0' + date.getSeconds() : date.getSeconds()}`
            this.comments.push({
              commentId: data.commentId,
              title: data.title,
              content: data.content,
              name: data.author,
              hover: false,
              createTime,
            })
          })
        }).catch(err => {
          this.showServerErr(err)
        })
      },
      addCm() {
        const token = localStorage.getItem("token")
        if (token === null) {
          this.showTip('用户未登录', true, () => location.href = "/login.html")
          return
        }
        axios.post("http://127.0.0.1:8080/comment/add", { title: this.title, content: this.content, token }, {
          transformRequest: [function (data) {
            let ret = ''
            for (let it in data) {
              ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
            }
            return ret
          }],
        }).then(res => {
          console.log(res.data)
          if (!this.checkToken(res.data.code)) return
          switch (res.data.code) {
            case '3001':
              this.showTip('添加文章成功', false, () => location.reload())
              break
            default:
              this.showTip('服务器出了小差', true)
          }
        })
          .catch(err => {
            this.showServerErr(err)
          })
      },
      loadComments(e) {
        if (this.handleScoll) {
          this.handleScoll = false
          setTimeout(() => {
            this.handleScoll = true;
            if (e.srcElement.scrollTop + this.$refs.box.clientHeight === e.srcElement.scrollHeight) {
              if (this.canLoad) {
                this.loadCm();
              } else {
                this.showTip('已经到底啦！', true)
              }
            }
          }, 1000)
        }
      },
      showTip(tips, isDanger, cb, delay = 3000) {
        this.tips = tips,
          this.isDanger = isDanger,
          this.showTips = true
        setTimeout(() => {
          this.showTips = false
          if (cb) {
            cb()
          }
        }, delay)
      },
      showServerErr(err) {
        console.log(err.response);
        switch (err.response.status) {
          case 500:
            this.showTip('服务器内部错误', true)
            break
          case 404:
            this.showTip('找不到服务器', true)
            break
          default:
            this.showTip('服务器出错啦！', true)
        }
      },
      checkToken(code) {
        switch (code) {
          case '3002':
            this.showTip('登录已过期', true, () => location.href = "/login.html")
            break
          case '3003':
            this.showTip('用户未登录', true, () => location.href = "/login.html")
            break
          default:
            return true
        }
        return false
      }
    },
    beforeMount() {
      this.loadCm()
    }
  })
</script>
<style>
  .comment-box {
    height: 90vh;
  }

  .comment-right-box {
    height: 40vh;
    overflow: scroll;
  }

  .put-box {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .put-form {
    width: 50%;
    top: 20%;
    left: 25%;
  }

  .tips {
    width: 30%;
    left: 35%;
    line-height: 1.8
  }

  .v-enter,
  .v-leave-to {
    transform: translateY(-10px);
    opacity: 0;
  }

  .v-enter-active,
  .v-leave-active {
    transition: all 1s ease-in-out;
  }
</style>

</html>