<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./asset/tailwind.min.css">
  <link rel="shortcut icon" href="favicon.ico" type="x-icon">
  <script src="./asset/axios.js"></script>
  <script src="asset/vue.js"></script>
  <title>欢迎登录|注册</title>
</head>

<body class="bg-gray-100 p-8 pl-60 pr-60">
  <div id="app"
    class="flex flex-col rounded-3xl hover:shadow-xl border-2 border-white overflow-hidden bg-white cursor-default">
    <div class="bg-black text-white text-3xl font-bold text-center flex justify-between pl-8 pr-8">
      <a class="hover:text-blue-200" href="comment.html">&lt;文章</a>
      <p>{{isLogin?'登录':'注册'}}</p>
      <a class="hover:text-blue-200" href="index.html">首页&gt;</a>
    </div>
    <div class="bg-blue-100 form-box p-8 pl-40 pr-40 text-lg text-gray-600">
      <form method="POST" class="form" v-if="isLogin">
        <div>
          <label for="username">用户名：</label>
          <label v-show="usernameError" for="username" class="text-red-600 text-sm align-text-top">*用户名不能为空</label><br>
          <input type="text" name="username" id="username" v-model="loginUser.username">
        </div>
        <div>
          <label for="password">请输入密码：</label>
          <label v-show="passwordError" for="password" class="text-red-600 text-sm align-text-top">*密码不能为空</label><br>
          <input type="password" name="password" id="password" v-model="loginUser.password">
        </div>
        <div class="flex justify-center gap-10">
          <button class="bg-gray-100 hover:shadow-lg" type="button" @click="toRegister()">注册</button>
          <button class="bg-yellow-400 hover:shadow-lg" type="button" @click="login()">登录</button>
        </div>
      </form>
      <form method="POST" class="form" v-else>
        <div>
          <label for="username">用户名：</label>
          <label v-show="usernameError" for="username" class="text-red-600 text-sm align-text-top">*用户名不能为空</label><br>
          <input type="text" name="username" id="username" v-model="register.username">
        </div>
        <div>
          <label for="password">请输入密码：</label>
          <label v-show="passwordError" for="password"
            class="text-red-600 text-sm align-text-top">*密码不能为空，请重新输入</label><br>
          <input type="password" name="password" id="password" v-model="register.password">
        </div>
        <div>
          <label for="reword">请再次输入密码：</label>
          <label v-show="rewordError" for="reword"
            class="text-red-600 text-sm align-text-top">*两次密码不一致，请重新输入</label><br>
          <input type="password" name="reword" id="reword" v-model="register.reword">
        </div>
        <div>
          <label for="picUrl">在线头像地址(选填)：</label><br>
          <input type="text" name="picUrl" id="picUrl" v-model="register.picUrl">
        </div>
        <div class="flex justify-center gap-10">
          <button class="bg-gray-100 hover:shadow-lg" type="button" @click="toLogin()">登录</button>
          <button class="bg-yellow-400 hover:shadow-lg" type="button" @click="regist()">注册</button>
        </div>
      </form>
    </div>
    <!-- S warn -->
    <transition>
      <div
        class="fixed top-4 h-12 tips rounded-3xl border-2 border-white shadow-lg text-center align-text-top text-white font-bold text-2xl"
        v-show="showTips" :style="tipColor">
        <p>{{tips}}</p>
      </div>
    </transition>
    <!-- E warn -->
  </div>
  <script>
    let vm = new Vue({
      el: "#app",
      data: {
        isLogin: true,
        loginUser: {
          username: '',
          password: '',
        },
        register: {
          username: '',
          password: '',
          reword: '',
          picUrl: ''
        },
        usernameError: false,
        passwordError: false,
        rewordError: false,
        showTips: false,
        tips: '',
        isDanger: false
      },
      computed: {
        tipColor() {
          return this.isDanger ? 'background-color:rgb(247, 42, 42)' : 'background-color:rgb(11, 138, 249)'
        }
      },
      methods: {
        showTip(tips, isDanger, cb, delay = 3000) {
          this.tips = tips,
            this.isDanger = isDanger,
            this.showTips = true
          setTimeout(() => {
            this.showTips = false
            if (cb) {
              cb()
            }
          }, delay)
        },
        showServerErr(err) {
          switch (err.response.status) {
            case 500:
              this.showTip('服务器内部错误', true)
              break
            case 404:
              this.showTip('找不到服务器', true)
              break
            default:
              this.showTip('服务器出错啦！', true)
          }
        },
        clearErrors() {
          this.usernameError = false,
            this.passwordError = false
        },
        toRegister() {
          this.clearErrors()
          this.loginUser.password = ''
          this.isLogin = false
        },
        toLogin() {
          this.clearErrors()
          this.register.password = ''
          this.register.reword = ''
          this.isLogin = true
        },
        login() {
          if (this.loginUser.username === '') {
            this.usernameError = true
            return
          }
          this.usernameError = false
          if (this.loginUser.password === '') {
            this.passwordError = true
            return
          }
          this.passwordError = false
          axios.post("http://127.0.0.1:8080/user/login", this.loginUser, {
            transformRequest: [function (data) {
              let ret = ''
              for (let it in data) {
                ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
              }
              return ret
            }],
          }).then(res => {
            console.log(res);
            switch (res.data.code) {
              case '1000':
                localStorage.setItem("token", res.data.msg)
                this.showTip('登录成功', false, () => { location.href = '/index.html' })
                break
              case '1002':
                this.showTip('用户未注册', true)
                break
              case '1003':
                this.showTip('密码打错啦', true)
                break
              default:
                this.showTip('服务器出了小差', true)
            }
          }).catch(err => {
            this.showServerErr(err)
          })
        },
        regist() {
          if (this.register.username === '') {
            this.usernameError = true
            return
          }
          this.usernameError = false
          if (this.register.password === '') {
            this.passwordError = true
            return
          }
          this.passwordError = false
          if (this.register.password !== this.register.reword) {
            this.rewordError = true
            return
          }
          this.rewordError = false
          axios.post("http://127.0.0.1:8080/user/register", this.register, {
            transformRequest: [function (data) {
              let ret = ''
              for (let it in data) {
                ret += encodeURIComponent(it) + '=' + encodeURIComponent(data[it]) + '&'
              }
              return ret
            }],
          }).then(res => {
            console.log(res)
            switch (res.data.code) {
              case '2000':
                this.showTip('注册成功', false, this.toLogin)
                break
              case '2001':
                this.showTip('两次密码不一致', true)
                break
              case '2002':
                this.showTip('用户已存在', true, this.toLogin)
                break
              default:
                this.showTip('服务器出了小差', true)
            }
          }).catch(err => {
            this.showServerErr(err)
          })
        }
      }
    })
  </script>
</body>
<style>
  .form-box {
    height: 80vh;
  }

  .form input {
    width: 100%;
    padding: 0 0.5rem;
    border-radius: 2rem;
    color: black;
  }

  .form>div {
    margin-top: 1.5rem;
  }

  .form>div>button {
    width: 20%;
    border-radius: 2rem;
    border: 0.25rem solid white;
  }

  .tips {
    width: 30%;
    left: 35%;
    /* background-color: rgb(247, 42, 42); */
    /* background-color: rgb(11, 138, 249); */
    line-height: 1.8
  }

  .v-enter,
  .v-leave-to {
    transform: translateY(-10px);
    opacity: 0;
  }

  .v-enter-active,
  .v-leave-active {
    transition: all 1s ease-in-out;
  }
</style>

</html>