@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1621337752316') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qq:before {
  content: "\e608";
}

.icon-social-instagram:before {
  content: "\e60c";
}

.icon-Facebook:before {
  content: "\e9fd";
}

.icon-Twitter:before {
  content: "\ea3f";
}

.icon-weibo:before {
  content: "\e508";
}

.icon-github:before {
  content: "\e50c";
}

.icon-wechat:before {
  content: "\e6ca";
}

.icon-js:before {
  content: "\e63b";
}

.icon-vue:before {
  content: "\e6b9";
}

.icon-douban:before {
  content: "\e61d";
}

